:root {
    --primaryColor: #012756;
    --secondaryColor: #f5b51f;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: var(--primaryColor);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondaryColor);
    border-radius: 18px;
    border: 3px solid var(--primaryColor);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f3f8;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
    scrollbar-width: auto;
    scrollbar-color: var(--primaryColor) var(--secondaryColor);
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: var(--secondaryColor);
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
    font-size: 32px;
}

/*
 * Header
 *
 */

.header {
    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    font-weight: 500;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: var(--secondaryColor);
    border-bottom: 6px dotted var(--primaryColor);
}

.header__menu {
    font-size: 32px;
    margin: 10px auto;
    display: block;
    width: 30px;
    text-decoration: none;
    color: black;
}

/*
 * Like Button
 */

.empty-heart {
    font-size: 36px;
    position: fixed;
    bottom: 80px;
    right: 16px;
    background-color: var(--primaryColor);
    color: #ffffff;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    min-width: 44px;
}

.filled-heart {
    font-size: 24px;
    position: fixed;
    bottom: 80px;
    right: 16px;
    background-color: var(--primaryColor);
    color: #ffffff;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    min-width: 44px;
}

.back-to-top {
    font-size: 22px;
    position: fixed;
    bottom: 80px;
    right: 16px;
    background-color: var(--primaryColor);
    color: #ffffff;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    min-width: 44px;
}

/*
 * Top level navigation
 */

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--primaryColor);
}

.nav__item:hover {
    background-color: var(--secondaryColor);
    text-decoration: underline;
    border-radius: 25px;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
    color: white;
}


/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-color: var(--primaryColor);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/heros-responsive/hero-image-small.jpg');
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    border-bottom: 6px dotted var(--secondaryColor);
}

/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}


/*
 * explore
 */

.explore {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.explore__label {
    font-size: 28px;
    font-weight: 400;
    color: white;
    background-color: var(--secondaryColor);
    border-left: 6px solid var(--primaryColor) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.explore__label::after {
    content: '';
    margin-top: 16px;
    display: block;

}

/*
 * restaurant
 */

.restaurants {
    margin: 32px auto auto;
    text-align: left;
}

/*
 * restaurant item
 */

.restaurant-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: white !important;
    max-height: 500px;
}

.detail-restaurant-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: white !important;
    max-height: fit-content;
}

.card-rating {
    position: absolute;
    color: white;
    font-size: medium;
    background-color: var(--primaryColor);
    padding: 0.4em 1.3em;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-rating>.material-icons {
    font-size: medium;
}

.truncate {
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.restaurant-item__content {
    padding: 16px;
}

.restaurant-item__thumbnail {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.restaurant-item__thumbnail__detail {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.restaurant-item__title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.restaurant-item__title__detail__review {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.restaurant-item__title:hover {
    opacity: 0.5;
}

.restaurant-item__title a {
    text-decoration: none;
    color: var(--primaryColor);
    border-bottom: 3px dotted var(--secondaryColor);
    min-width: 44px;
    min-height: 44px;
    padding-top: 20px;
    padding-bottom: 4px;
}

.restaurant-item__title__detail__review a {
    text-decoration: none;
    color: var(--primaryColor);
    border-bottom: 3px dotted var(--secondaryColor);
    text-align: left;
    margin-left: 24px;
}

.restaurant-item__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
}

.restaurant-item__description__detail {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
}

.restaurant-item__description__detail__h4 {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
    border-bottom: 3px dotted var(--secondaryColor);
    max-width: fit-content;
    color: var(--primaryColor);
    padding-top: 8px;
}

.restaurant-item__description__detail__review {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
    margin-left: 32px;
    margin-right: 24px;
}

/*
 * Loader
 */

.skeleton {
    user-select: none;
    background-color: #eeeeee;
    color: #eeeeee;
}

/*
 * Symbol
 */

.arrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
 * Button
 */

.back-button {
    display: flex;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    background-color: var(--primaryColor);
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    margin-top: 18px;
    font-weight: 500;
    font-size: 16px;
    min-height: 44px;
    min-width: 44px;
}

.back-button:hover {
    color: #ffffff;
    background-color: var(--secondaryColor);
}

/*
 * Form Control
 */

.form-group {
    margin-bottom: 15px
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

textarea.form-control {
    height: auto;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 600px;
}

input.form-control {
    height: auto;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 600px;
}


/*
 * Consumer Review
 */

.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

.media-body {
    width: 10000px;
}

.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}

p {
    margin: 0 0 10px;
}

/*
 * footer
 */

footer {
    background-color: var(--secondaryColor);
    padding: 1em;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}