.restaurants {
    display: grid;
    grid-row-gap: 16px;
}

:root {
    --primaryColor: #012756;
    --secondaryColor: #f5b51f;
}


@media screen and (max-width: 499px) {
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid var(--secondaryColor);
        width: 100%;
        text-align: left;
    }

    textarea.form-control {
        max-width: fit-content;
    }

    input.form-control {
        max-width: fit-content;
    }
}

@media screen and (min-width: 500px) {
    .header__menu {
        display: none;
    }
}

@media screen and (min-width: 650px) {

    .restaurant-item__content {
        padding: 16px 32px 32px 32px;
    }

    .restaurant-item__title {
        font-size: 18px;
    }

    .restaurant-item__title__detail__review {
        font-size: 18px;
    }

    .restaurant-item__description {
        font-size: 14px;
    }

    .restaurant-item__description__detail {
        font-size: 14px;
    }

    .restaurant-item__description__detail__h4 {
        font-size: 14px;
    }

    .restaurant-item__description__detail__review {
        font-size: 14px;
    }

    .label {
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    .restaurant .restaurant__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .restaurant .restaurant__overview {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 700px) {
    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {

    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}

/* Responsive Image */

@media
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
  .hero {
    background-image: url('./images/heros-responsive/hero-image-medium.jpg');
  }
}
@media
  (min-width: 800px) {
  .hero {
    background-image: url('./images/heros-responsive/hero-image-large.jpg');
  }
}
@media
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 800px), 
  (min-resolution: 192dpi) and (min-width: 800px) {
  .hero {
    background-image: url('./images/heros-responsive/hero-image-extra-large.jpg');
  }
}